[:DIAGRAM [:SENTENCE "Der Wecker klingelt."] [:SWITCH [:SENTENCE "Wochentag pruefen "] [:CASES [:CASE [:SENTENCE "Samstag oder Sonntag? "] [:BLOCK [:SENTENCE "Wecker ausschalten"] [:SENTENCE "Umdrehen"] [:SENTENCE "Weiterschlafen"]]] [:DEFAULT [:SENTENCE "Wertktag "] [:BLOCK [:WHILE [:SENTENCE "solange ich noch min 5 Minuten Zeit habe "] [:BLOCK [:SENTENCE "Wecker ausmachen"] [:SENTENCE "bisschen weiter doesen..."]]] [:SENTENCE "Wecker ausmachen"] [:SENTENCE "Aufstehen"] [:IF [:SENTENCE "Lust auf Kaffee "] [:BLOCK [:SENTENCE "Kaffe kochen"] [:SENTENCE "Tasse holen"] [:UNTIL [:SENTENCE "Keine Lust mehr auf Kaffee "] [:BLOCK [:SENTENCE "Tasse mit Kaffe befuellen"] [:SENTENCE "Tasse Kaffee trinken"]]]]] [:SENTENCE "Duschen gehen"] [:PARAGRAPH "\"\"\"Zahnpflege:\n- Zahnseide verwenden\n- Zaehne gruendlich putzen\n- Zahnzwischenraumbuerstchen benutzen\n- Mundspuelung\"\"\""]]]]]]
