[:DIAGRAM {:uid 7, :range {:start-line 1, :end-line 9}} [:TEXTSTMT {:uid 2, :range {:start-line 1, :end-line 1}} [:TEXT {:uid 1, :range {:start-line 1, :end-line 1}} "Hello, world!"]] [:TEXTSTMT {:uid 4, :range {:start-line 3, :end-line 6}} [:TEXT {:uid 3, :range {:start-line 3, :end-line 6}} "\nHow is it going?\nBye, bye!!!\n"]] [:TEXTSTMT {:uid 6, :range {:start-line 8, :end-line 8}} [:TEXT {:uid 5, :range {:start-line 8, :end-line 8}} "That's all folks!"]]]
