[:DIAGRAM [:TEXTSTMT [:SENTENCE "Lorem ipsum odor amet, consectetuer adipiscing elit."]] [:TEXTSTMT [:SENTENCE "Elit pellentesque suscipit tortor dictumst libero arcu sem."]] [:SUB [:SENTENCE "Arcu parturient quam vehicula suspendisse vel vel; aliquam porta. "] [:BLOCK [:TEXTSTMT [:SENTENCE "Viverra himenaeos vehicula cursus platea class."]] [:TEXTSTMT [:SENTENCE "Suspendisse justo quam diam arcu scelerisque amet tellus."]]]] [:TEXTSTMT [:SENTENCE "Eget vel semper fringilla quis penatibus blandit."]] [:TEXTSTMT [:SENTENCE "Vestibulum quis donec rhoncus placerat facilisi."]] [:TEXTSTMT [:SENTENCE "Viverra maximus lobortis suspendisse aliquet ornare himenaeos ex."]] [:TEXTSTMT [:SENTENCE "Commodo dolor sem mauris fames inceptos montes sem eu."]]]
