[:DIAGRAM [:TEXTSTMT [:SENTENCE "Hello, world!"]] [:TEXTSTMT [:SENTENCE "How is it going?"]] [:SWITCH [:SENTENCE "Welche Zahl? "] [:CASES [:CASE [:SENTENCE "eins "] [:BLOCK [:TEXTSTMT [:SENTENCE "one"]] [:TEXTSTMT [:SENTENCE "anotherone"]]]] [:CASE [:SENTENCE "zwei "] [:BLOCK [:TEXTSTMT [:SENTENCE "two"]]]] [:DEFAULT [:SENTENCE "ansonsten "] [:BLOCK [:TEXTSTMT [:SENTENCE "keine Ahnung"]]]]]] [:TEXTSTMT [:SENTENCE "That's all folks!"]]]
