[:DIAGRAM [:SENTENCE "Hello, world!"] [:SENTENCE "How is it going?"] [:SWITCH [:SENTENCE "Welche Zahl? "] [:CASES [:CASE [:SENTENCE "eins "] [:BLOCK [:SENTENCE "one"] [:SENTENCE "anotherone"]]] [:CASE [:SENTENCE "zwei "] [:BLOCK [:SENTENCE "two"]]] [:DEFAULT [:SENTENCE "ansonsten "] [:BLOCK [:SENTENCE "keine Ahnung"]]]]] [:SENTENCE "That's all folks!"]]
