[:DIAGRAM [:TEXTSTMT [:SENTENCE "Lorem ipsum odor amet, consectetuer adipiscing elit."]] [:TEXTSTMT [:SENTENCE "Penatibus fringilla iaculis id placerat ultrices hendrerit."]] [:THROW [:ERRORCODE "#Habitant"] [:SENTENCE "Habitant porta natoque velit sagittis dignissim."]] [:THROW [:ERRORCODE "#Luctus"] [:PARAGRAPH "\"\"\"\nLuctus risus tempus primis finibus consectetur accumsan. \nTellus odio rhoncus leo; dictum curabitur sit.\n\"\"\""]] [:CATCH [:HANDLERS [:HANDLE [:ERRORCODEREF [:ERRORCODE "#Habitant"]] [:BLOCK [:TEXTSTMT [:SENTENCE "Auctor urna aliquet himenaeos est condimentum neque. "]]]] [:HANDLE [:ERRORCODEREF [:ERRORCODE "#Luctus"]] [:BLOCK [:TEXTSTMT [:SENTENCE "Netus dapibus blandit amet commodo ultricies non.  "]]]]]]]
